@page
@using LogicLayer.Models;
@model WebApp.Pages.OrderHistoryModel
@{
	ViewData["Title"] = "Order History";
	ViewData["Css"] = "~/css/orderHistory.css";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

@if (Model.orders.Count > 0)
{
	<div class="orders">
		@{
			foreach (Order order in Model.orders)
			{
				<a asp-page="/OrderDetails" asp-route-OrderId="@order.Id" class="order">
					<div>
						Order id: @order.Id
					</div>
					@if (order.Client.BonusCard != null)
					{
						<div>
							Bonus Card ID
						</div>
						<div>
							Total Bonus Points Before Order: @order.Client.BonusCard.AmountOfPoints
						</div>
						<div>
							Total Bonus Points After Order: @order.TotalBonusPointsAfterOrder()
						</div>
						<div>
							Total Bonus Points: @order.OrderBonusPoints
						</div>
					}
					<div>
						Order Date: @order.OrderDate.ToString()
					</div>
					<div>
						Delivery Date:
						@if (order.DeliveryDate.HasValue)
						{
							<span>@order.DeliveryDate</span>
						}
						else
						{
							<span>--/--/----</span>
						}
					</div>
					<div>
						Order Status: @order.OrderStatus.ToString()
					</div>
					<div>
						Price: @order.TotalPrice()
					</div>
					<div>
						Amount of items: @order.PurchasedItems.Count
					</div>
					<div class="details">
						More Details
					</div>
				</a>
			}
		}
	</div>
}
else
{
	<div class="nothingInfo">No previous orders</div>
}