@page
@using LogicLayer.Models;
@model WebApp.Pages.OrderDetailsModel
@{
	ViewData["Title"] = "Order Nr " + Model.OrderId.ToString();
	ViewData["Css"] = "~/css/orderDetails.css";
}

<div class="order">
	<div>
		Order id: @Model.order.Id
	</div>
	@if (Model.order.Client.BonusCard != null)
	{
		<div>
			Bonus Card ID
		</div>
		<div>
			Total Bonus Points Before Order: @Model.order.Client.BonusCard.AmountOfPoints
		</div>
		<div>
			Total Bonus Points After Order: @Model.order.TotalBonusPointsAfterOrder()
		</div>
		<div>
			Total Bonus Points: @Model.order.OrderBonusPoints
		</div>
	}
	<div>
		Order Date: @Model.order.OrderDate.ToString()
	</div>
	<div>
		Delivery Date: 
		@if(Model.order.DeliveryDate.HasValue)
		{
			<span>@Model.order.DeliveryDate</span>
		}
		else
		{
			<span>--/--/----</span>
		}
	</div>
	<div>
		Order Status: @Model.order.OrderStatus.ToString()
	</div>
	<div>
		Country: @Model.order.Address.Country
	</div>
	<div>
		City: @Model.order.Address.City
	</div>
	<div>
		Street: @Model.order.Address.Street
	</div>
	<div>
		Postal Code: @Model.order.Address.PostalCode
	</div>
	<div class="items">
		Products:
		@{
			foreach (LineItem lineItem in Model.order.PurchasedItems)
			{
				<div class="item">
					<div class="name">
						@lineItem.Item.Name
					</div>
					<div class="category">
						@lineItem.Item.Category @lineItem.Item.SubCategory
					</div>
					<div class="price">
						@lineItem.Amount x @lineItem.PurchasePrice
					</div>
				</div>
			}
		}
		Product Price: @Model.order.PriceWithoutDiscount()
	</div>
	<div class="discounts">
		Discounts:
		@{
			foreach (LineItem lineItem in Model.order.PurchasedItems)
			{
				foreach (IDiscount discount in lineItem.Item.Discounts)
				{
				<div class="item">
					<div class="name">
						@lineItem.Item.Name
					</div>
					<div></div>
					<div>
						- @discount.CalculateDiscount(lineItem.Amount, lineItem.PurchasePrice)
					</div>
				</div>
				}
			}
		}
		Discounts Profit: - @Model.order.DiscountProfit()
	</div>
	<div class="totalPrice">
		Total Price: @Model.order.TotalPrice()
	</div>
</div>