@page
@using LogicLayer.Models;
@model WebApp.Pages.ShippingModel
@{
	ViewData["Title"] = "Shipping";
	ViewData["Css"] = "~/css/shipping.css";
}

<div class="shippingData">
	<div class="items">
		Products:
		@{
			foreach (LineItem lineItem in Model.shoppingCart.AddedItems)
			{
				<div class="item">
					<div class="name">
						@lineItem.Item.Name
					</div>
					<div class="category">
						@lineItem.Item.Category @lineItem.Item.SubCategory
					</div>
					<div class="price">
						@lineItem.Amount x @lineItem.PurchasePrice
					</div>
				</div>
			}
		}
		Product Price: @Model.shoppingCart.PriceWithoutDiscount()
	</div>
@Model.mess
	<div class="discounts">
		Discounts:
	@{
		foreach (LineItem lineItem in Model.shoppingCart.AddedItems)
		{
			foreach (IDiscount discount in lineItem.Item.Discounts)
			{
				<div class="item">
					<div class="name">
						@lineItem.Item.Name
					</div>
					<div></div>
					<div>
						- @discount.CalculateDiscount(lineItem.Amount, lineItem.PurchasePrice)
					</div>
				</div>
			}
		}
	}
		Discounts Profit: - @Model.shoppingCart.DiscountProfit()
	</div>
</div>

<div class="totalPrice">
	Total Price: @Model.shoppingCart.TotalPrice()
</div>

<form method="post" class="shippingAddress">
	<label asp-for="Address.Country">Country: </label>
	<input asp-for="Address.Country" type="text">
	<label asp-for="Address.City">City: </label>
	<input asp-for="Address.City" type="text">
	<label asp-for="Address.Street">Street: </label>
	<input asp-for="Address.Street" type="text">
	<label asp-for="Address.PostalCode">PostalCode: </label>
	<input asp-for="Address.PostalCode" type="text">
	<button type="submit">
		BUY
	</button>
</form>