@page
@using LogicLayer.Models;
@model WebApp.Pages.ShippingModel
@{
	ViewData["Title"] = "Shipping";
	ViewData["Css"] = "~/css/shipping.css";
}
<div class="orderData">
	<div class="items">
		Products:
		@{
			foreach (LineItem lineItem in Model.shoppingCart.AddedItems)
			{
				<div class="item">
					<div class="name">
						@lineItem.Item.Name
					</div>
					<div class="category">
						@lineItem.Item.Category @lineItem.Item.SubCategory
					</div>
					<div class="price">
						@lineItem.Amount x @lineItem.PurchasePrice
					</div>
				</div>
			}
		}
		Product Price: @Model.shoppingCart.PriceWithoutDiscount()
	</div>
@Model.mess
	@if (Model.client.BonusCard != null)
	{
		<div class="discounts">
			Discounts:
			@{
				foreach (LineItem lineItem in Model.shoppingCart.AddedItems)
				{
					foreach (IDiscount discount in lineItem.Item.Discounts)
					{
						<div class="item">
							<div class="name">
								@lineItem.Item.Name
							</div>
							<div></div>
							<div>
								- @discount.CalculateDiscount(lineItem.Amount, lineItem.PurchasePrice)
							</div>
						</div>
					}
				}
			}
			Discounts Profit: - @Model.shoppingCart.DiscountProfit()
		</div>
	}

	<div class="totalPrice cell">
		@if (Model.client.BonusCard != null)
		{
			<div>
				Total Price: @Model.shoppingCart.TotalPrice()
			</div>
			<label asp-for="amountOfSpentPoints">
				Pay with bonus points: 
			</label>
			<select asp-for="amountOfSpentPoints" form="mainForm">
				@for (int i = 0; i <= (Model.client.BonusCard.AmountOfPoints / 100) && i <= Math.Floor(Model.shoppingCart.TotalPrice()); i++)
				{
					<option value="@(i*100)">@i Euro</option>
				}
			</select>
		}
		else
		{
			<div>
				Total Price: @Model.shoppingCart.PriceWithoutDiscount()
			</div>
		}
	</div>

	@if (Model.client.BonusCard != null)
	{
		<div class="bonusPoints cell">
			New Bonus Points: @Math.Floor(Model.shoppingCart.TotalPrice())
		</div>
	}
</div>

<form method="post" class="shippingAddress" id="mainForm">
	@if (User.FindFirst("Country") != null)
	{
		<div class="defaultAddress">
			<input asp-for="useDefaultAddress" type="checkbox">
			<label asp-for="useDefaultAddress">Default Address: @User.FindFirst("Country") @User.FindFirst("City") @User.FindFirst("Street") @User.FindFirst("PostalCode")</label>
		</div>
	}
	<label asp-for="Address.Country">Country: </label>
	<input asp-for="Address.Country" type="text">
	<label asp-for="Address.City">City: </label>
	<input asp-for="Address.City" type="text">
	<label asp-for="Address.Street">Street: </label>
	<input asp-for="Address.Street" type="text">
	<label asp-for="Address.PostalCode">PostalCode: </label>
	<input asp-for="Address.PostalCode" type="text">
	<button type="submit">
		BUY
	</button>
</form>