@page
@using LogicLayer.Models;
@model WebApp.Pages.ShopModel
@{
	ViewData["Title"] = "Shop";
	ViewData["Css"] = "~/css/shop.css";
}

@{
	foreach (Item item in Model.items)
	{
<form method="post" class="item">
@{
	if(item.Discounts.Any())
	{
		<div class="discount">
		@foreach (IDiscount discount in item.Discounts)
		{
			@discount.ToString()
		}
		</div>
	}
}
	<div class="image">img</div>
	<div class="details">
		<div class="name">
			@item.Name
		</div>
		<div class="category">
			@item.Category @item.SubCategory
		</div>
		<div class="price">
			@item.Price
		</div>
		<div class="amount">
			<input type="number" asp-for="Amount" max="@item.StockAmount" min="1" value="0"/> 
			<label asp-for="Amount">/ @item.StockAmount</label>
		</div>
	</div>
			<button asp-page-handler="AddItem" asp-route-ItemId="@item.Id" type="submit" class="addToCart">
		Add to Cart
	</button>
</form>
	}
}