@page
@using LogicLayer.Models;
@model WebApp.Pages.ShoppingCartModel
@{
	ViewData["Title"] = "ShoppingCart";
	ViewData["Css"] = "~/css/shoppingCart.css";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

@if(!Model.shoppingCart.IsEmpty())
{
<div class="items">
@{
	foreach (LineItem lineItem in Model.shoppingCart.AddedItems)
	{
		<form method="post" class="item">
			<div class="image">img</div>
			<div class="details">
				<div class="name">
					@lineItem.Item.Name
				</div>
				<div class="category">
					@lineItem.Item.Category @lineItem.Item.SubCategory
				</div>
				<div class="price">
					@lineItem.Amount x @lineItem.PurchasePrice
				</div>
				@if(lineItem.Item.Discounts.Any())
				{
					<div class="discount"> - @lineItem.DiscountProfit() </div>
				}
			</div>
			<button asp-page-handler="DeleteItem" asp-route-LineItemId="@lineItem.Id" class="trashIcon">
				<span class="material-symbols-outlined">delete</span>
			</button>
		</form>

	}
}
</div>
<form method="post" class="formBuy">
	<div class="shoppingCartPrice">
			<div>PriceWithoutDiscount: @Model.shoppingCart.PriceWithoutDiscount()</div>
			<div>DiscountProfit: - @Model.shoppingCart.DiscountProfit()</div>
			<div>TotalPrice: @Model.shoppingCart.TotalPrice()</div>
	</div>
	<button class="buy" asp-page-handler="PlaceOrder">
			BUY
	</button>
</form>
}
else
{
	<div class="nothingInfo">Nothing in the shopping cart</div>
}
